bcrypt
tornado
PyPDF2

pgmagick
Wand



brew uninstall --force imagemagick

brew install imagemagick@6

echo 'export PATH="/usr/local/opt/imagemagick@6/bin:$PATH"' >> ~/.bash_profile

brew link imagemagick@6 --force

brew install ghostscript